<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-20 m-20 myImage ">
     <!-- Column 1 -->
     <div class=" p-4 ">
        <p class="text-lg text-black">Publishing model | Open access</p>
        <h1 class="lg:text-4xl text-black font-bold mb-4">Explores the significance of education for both individuals and society</h1>
        <p></p>
        
        <!-- Nested Grid for 2x2 Layout -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <!-- First Row -->
          <div class="bg-white p-2 rounded-[15px]">
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-red-500">Issue Published</h1>
            <p class="text-sm sm:text-lg lg:text-xl">82 ( Total)</p>
          </div>
          <div class="bg-white border shadow rounded-[15px] p-2">
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-red-500">5100+</h1>
            <p class="text-sm sm:text-lg lg:text-xl">Authors from 40+Countries</p>
          </div>
          
          <!-- Second Row -->
          <div class="bg-yellow-400 p-2 rounded-[15px]">
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-black ">5100+</h1>
            <p class="text-sm sm:text-lg lg:text-xl text-black">Published Articles</p>
          </div>
          <div class="bg-white rounded-[15px] p-2 ">
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-red-500 ">22000+</h1>
            <p class="text-sm sm:text-lg lg:text-xl text-black">Downloads</p>
          </div>
        </div>
      </div>
    
    <!-- Column 2 -->
    <div class="p-4 bg-black text-white rounded-b-[100px]  m-10 p-10 text-center">
        <h1 class="text-xl lg:text-5xl font-bold mb-4">Publication Timeline</h1>
        
        <!-- Nested Grid for 2x2 Layout -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <!-- First Row -->
          <div class=" p-2">
            <h1 class="text-2xl text-yellow-500">7 days</h1>
            <p>Time to <br> First Decision</p>
          </div>
          <div class=" p-2">
            <h1 class="text-2xl text-yellow-500">7 days</h1>
            <p>Time to <br> First Decision</p>
          </div>
          
          <!-- Second Row -->
          <div class=" p-2">
            <h1 class="text-2xl text-yellow-500">7 days</h1>
            <p>Time to <br> First Decision</p>
          </div>
          <div class=" p-2">
            <h1 class="text-2xl text-yellow-500">7 days</h1>
            <p>Time to <br> First Decision</p>
          </div>
        </div>
      </div>
      
  </div>
  

  <!----Article section-->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- First Row -->
    <div class="bg-white border rounded-[15px] shadow p-4 m-10">
        <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">Malaysia</button>
        <p class="text-sm md:text-base lg:text-lg mb-4">Determinants of Cash Waqf Donation to Support Islamic Schools in Thailand</p>
        <div class="flex items-center text">
            <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
          <span class="text-sm md:text-base lg:text-lg">
            
School of Social Sciences, Universiti Sains Malaysia, Malaysia</span>
        </div>
      </div>
    <div class="bg-white border rounded-[15px] shadow p-4 m-10">
        <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">United Kingdom</button>
        <p class="text-sm md:text-base lg:text-lg mb-4">An Analysis of the Impact of Motivation on Employee Performance: A Case Study of Selected Private Universities in Lusaka</p>
        <div class="flex items-center text">
            <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
          <span class="text-sm md:text-base lg:text-lg">
            
University of South Wales, UK</span>
        </div>
      </div>
    <div class="bg-white border rounded-[15px] shadow p-4 m-10">
        <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">Sri Lanka</button>
        <p class="text-sm md:text-base lg:text-lg mb-4">Students’ Perception of Online Learning during COVID-19 Pandemic: A Survey Study of IT Students</p>
        <div class="flex items-center text">
            <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
          <span class="text-sm md:text-base lg:text-lg">Advanced Technological Institute-Dehiwala, Sri Lanka</span>
        </div>
      </div>
    
    <!-- Second Row -->
    <div class="bg-white border rounded-[15px] shadow p-4 m-10">
        <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">Kenya</button>
        <p class="text-sm md:text-base lg:text-lg mb-4">Delinquency among University Students and Parenting Attitudes in Kenya</p>
        <div class="flex items-center text">
            <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
          <span class="text-sm md:text-base lg:text-lg">
           
Alupe University, Busia Kenya</span>
        </div>
      </div>
      <div class="bg-white border rounded-[15px] shadow p-4 m-10">
      
        <p class="text-sm md:text-base lg:text-lg mb-4">Submit your Paper</p>
        <div class="flex items-center text">
            <span class="text-sm md:text-base lg:text-lg">
                <div class="flex items-center mb-4">
                    <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
                    <span class="text-sm md:text-base lg:text-lg">Special Edition</span>
                  </div>
                </span>
        </div>
        <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">Submit your Paper</button>
      </div>
      <div class="bg-white border rounded-[15px] shadow p-4 m-10">
        <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mb-4">Nigeria</button>
        <p class="text-sm md:text-base lg:text-lg mb-4">Effectiveness of Google Classroom as a Digital Tool in Teaching and Learning: Students’ Perceptions</p>
        <div class="flex items-center text">
          <span class="text-sm md:text-base lg:text-lg">
            <div class="flex items-center mb-4">
                <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Logo" class="h-8 w-8 mr-2">
                <span class="text-sm md:text-base lg:text-lg">Universal Basic Education Commission, Abuja, Nigeria</span>
              </div>
            </span>
        </div>
      </div>
  </div>
  
  <div class=" p-4">    
    <div>
      <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Google-scholar-Statistics.png" alt="Statistics" class="w-full h-auto">
    </div>
  </div>
  <div class=" p-4">    
    <div>
      <img src="https://rsisinternational.org/journals/ijriss/wp-content/uploads/2024/02/Indexing-and-Abstracting-1.png" alt="Statistics" class="w-full h-auto">
    </div>
   
  </div>
  